/* ~~~~~ MIXINS ~~~~~ */

@mixin centerAlign {
  text-align: center;
  justify-content: center;
  align-items: center;
}

@mixin paddingTenLR {
  padding: 0 5% 0 5%;
}

/* ~~~~~ COLOUR VARS ~~~~~ */

$black: #111111;

/* ~~~~~ General Styling ~~~~~ */

body {
  margin: 0;
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}

img,
input,
textarea {
  width: 100%;
}

a {
  text-decoration: none;
  color: $black;
  :visited {
    color: $black;
  }
}

h1,
h2,
h3,
h4 {
  font-family: "Abril Fatface", cursive;
  margin: 0;
  color: $black;
}

p,
li,
button,
a,
label {
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}

/* ~~~~~ LAYOUT/ SPECIFIC STYLING ~~~~~ */
/* Nav */

nav {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  position: fixed;
  width: 100%;
  @include centerAlign();
  background-color: white;
  #logo {
    padding: 1%;
    align-self: left;
    .logo {
      width: 35px;
    }
  }

  div {
    list-style-type: none;
    width: 100%;
    a {
      display: inline-block;
      padding: 0 5% 0 5%;
    }
  }
  .nav-contact {
    text-align: right;
    padding-right: 1%;
    font-size: 0.8rem;
  }
}

/* Landing Section */

.landing-sec {
  height: 160vh;
  display: flex;
  background-image: linear-gradient(to top, white 5%, transparent 25% 80%),
    url("../Images/placeholderimgs/spiral-1149509_1920.jpg");
  background-size: cover;
  @include centerAlign();
  div {
    margin-top: -60vh;
    h1 {
      font-size: 7rem;
    }
    p {
      font-size: 1.5rem;
    }
    .circle {
      font-size: 0.7rem;
    }
  }
}

#landing-img {
  width: 100%;
}

/* Intro */

.intro-sec {
  margin: 0 5% 0 5%;
  display: grid;
  grid-template-areas: "intro-p gallery-img";
  margin-top: -60vh;
  background-color: white;
  padding: 5% 5% 15% 5%;
  .intro {
    grid-area: intro-p;
    padding-right: 10%;
    h2 {
      font-size: 3rem;
    }
  }
  div:nth-of-type(2) {
    grid-area: gallery-img;
    display: flex;
    @include centerAlign();
    img {
      height: 80vh;
    }
    a {
      position: absolute;
      border: 1px solid white;
      padding: 1rem 2rem 1rem 2rem;
      color: white;
    }
  }
}

/* Services */
.service-banner {
  grid-area: banner;
  background: no-repeat center fixed
    url("../Images/placeholderimgs/victor-rodriguez-753741-unsplash.jpg");
  background-size: cover;
  height: 400px;
  margin-bottom: 5%;
  h3 {
    text-align: right;
    font-size: 5rem;
    position: absolute;
    margin-top: -2.5rem;
    right: 0;
    margin-right: 5%;
    line-height: 4.2rem;
  }
}

.services {
  display: grid;
  grid-template-areas:
    "card1 card2 card3"
    "card4 card5 card6";
  padding: 0 20% 0 20%;
  grid-gap: 40px;

  div:nth-of-type(2) {
    grid-area: card1;
  }
  div:nth-of-type(3) {
    grid-area: card2;
  }
  div:nth-of-type(4) {
    grid-area: card3;
  }
  div:nth-of-type(5) {
    grid-area: card4;
  }
  div:nth-of-type(6) {
    grid-area: card5;
  }
  div:nth-of-type(7) {
    grid-area: card6;
  }

  .card {
    text-align: center;
    h2 {
      font-size: 3rem;
      text-align: left;
    }
    h2::before {
      content: "";
      /* Decide wether to do it or not */
    }
    p {
      text-align: left;
    }
    button {
      padding: 0.8rem 3rem 0.8rem 3rem;
      margin-top: 2%;
      background: none;
      border: 1px solid $black;
      font-size: 1rem;
    }
  }
}

/* Contact */

#contact-us {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5%;
  @include paddingTenLR();
  padding-top: 10%;
  h2 {
    font-size: 3rem;
    padding-bottom: 1.5rem;
    grid-column: 1/-1;
  }
  .contact-info {
    iframe {
      width: 100%;
    }
  }
  /* Form */
  form {
    label {
      padding: 2% 0 2% 0;
      display: block;
    }
    input {
      background: none;
      border-radius: 3px;
      border: solid black 1px;
    }
  }
}

/* Footer */
footer {
  display: flex;
  @include centerAlign();
  margin-top: 5%;
  text-align: center;
  background: white;
  height: 3rem;
}
